<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Hot Mess</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>social.hotmess.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hotmess</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>social.hotmess.facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb$(FACEBOOK_APP_ID)</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>$(FACEBOOK_APP_ID)</string>
	<key>FacebookClientToken</key>
	<string>$(FACEBOOK_CLIENT_TOKEN)</string>
	<key>FacebookDisplayName</key>
	<string>Hot Mess</string>
	<key>HotMessBeaconID</key>
	<string>1422F585-E729-49E3-9E1F-B943DE12BAA9</string>
	<key>HotMessServerBase</key>
	<string>$(SERVER_SCHEME)://$(SERVER_BASE)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.lifestyle</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Hot Mess listens for beacons in venues so it can tell which room you are in.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Hot Mess uses your location in the background to estimate how busy a venue is and to recommend places based on who else is out.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Hot Mess uses your location to recommend venues and events near you.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Hot Mess accesses your photo library so you can send photographs to venue chat rooms.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ProximaNova-Regular.otf</string>
		<string>ProximaNova-RegularT50.otf</string>
		<string>ProximaNova-RegularT100.otf</string>
		<string>ProximaNova-SemiBold.otf</string>
		<string>ProximaNova-SemiBoldT50.otf</string>
		<string>ProximaNova-SemiBoldT100.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>Overlay</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
